.add-data-main-component {
    position: absolute;
    /* display: flex; */
    margin: 1rem;
}

.add-data-component {
    margin: 1.5rem 1.5rem;
    width: 25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.add-data-component input[type="file"] {
    margin-bottom: 10px;
}

.add-data-component button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-data-component button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 1400px) {
    .add-data-main-component {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
  }
  

@media screen and (max-width: 800px) {
    .add-data-main-component {
        display: flex;
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 450px) {
    .add-data-main-component {
        display: flex;
        flex-direction: column;
    }
  }