.submit1 {
    position: relative;
    font-size: var(--font-size-9xl);
    font-family: var(--font-alice);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 5.688rem;
}

.submit {
    cursor: pointer;
    border: 0;
    padding: 0.144rem 0.7rem;
    background-color: var(--color-darkslategray-200);
    flex-direction: row;
    z-index: 2;
}

.submit:hover {
    background-color: var(--color-dimgray);
}

.submit:active {
    background-color: white;
}

.submit:active {
    background-color: #fff;
    color: #000;
}

.submit1:active {
    background-color: #fff;
    color: #000;
}

.login-container-parent,
.submit,
.submit-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.submit-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-61xl) 0 var(--padding-59xl);
}

@media screen and (max-width: 450px) {
    .login-text {
        font-size: var(--font-size-6xl);
    }

    .login-wrapper {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .submit1 {
        font-size: var(--font-size-3xl);
    }

    .submit-wrapper {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .login-container-parent {
        gap: 1.25rem 2.525rem;
        padding-top: var(--padding-2xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
    }
}